.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*FirstPage styles */

.action-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.action-links h4 {
  margin-bottom: 10px;
}

.action-links a {
  color: #007BFF; /* Set link color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Add bold font weight */
}

.action-links a:hover {
  text-decoration: underline; /* Add underline on hover */
}

/* ChatInterface styles */
.chat-container {
  display: flex;
  flex-direction: column;
  width: 80%; /* Adjust this value to make the entire chat container wider or narrower */
  max-height: 500px; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Enable vertical scrolling when content overflows the maximum height */
  margin: auto; /* Center the chat container */
  border-style: solid;
  border-radius: 8px;
  border-color: #282c34;
}

.message-container {
  display: flex;
  flex-direction: column;
  background-color:azure;
  margin-top: 0px;
  border-radius: 8px;
}

.message-bubble {
  align-self: flex-start;
  background-color: #e8e8e8;
  padding: 8px;
  margin: 4px;
  border-radius: 8px;
  max-width: 70%;
}

.message-bubble-you {
  align-self: flex-end;
  background-color: #dcf8c6;
}

textarea {
  flex: 1;
  margin-right: 8px;
  padding: 8px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}


/* HomePage styles */
.row-content {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-image-container {
  max-width: 300px;
  margin: auto;
}

.card-image img {
  width: 100%;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
